<div class="clock-container">
  <h3>{{formatDate()}}</h3>
</div>
<div [ngClass]=mainDivClassList class="maindiv">
  <div [ngClass]="favouriteLocationContainerClassList">
    <p (click)="openFavouriteLocation()">{{favouriteLocation}}</p>
    <button (click)="removeFavouriteLocation()">X</button>
  </div>
  <div class="search-container">
    <img class="location-icon" src="assets/icons/navigation.png">
    <form id="search-form" (submit)="handleSearch($event)">
      <div class="ng-autocomplete">
        <ng-autocomplete id="searchInput" (input)="handleChange($event)" (keydown)="closeMainDivEvent($event)"
          (keyup)="hideKeyboardMobile($event)" [data]="autocompleteArray" searchKeyword='name'
          placeholder="Enter location" [itemTemplate]="itemTemplate" (selected)="handleSearch()">
        </ng-autocomplete>
        <ng-template #itemTemplate let-item>
          <a [innerHTML]="item.name"></a>
        </ng-template>
      </div>
      <!-- <input autocomplete="address-level1" id="searchInput" (keydown)="closeMainDivEvent($event)" (keyup)="hideKeyboardMobile($event)"
        [value]="searchValue" (input)="handleChange($event)" placeholder="Enter location"> -->
      <button type="submit">🔎</button>
    </form>
  </div>
  <div class="weather-info">
    <div *ngIf="currentWeatherData" class="location-info">
      <h3>{{currentWeatherData.location.name}}</h3>
      <h3>, {{currentWeatherData.location.country}}</h3>
      <div (click)="setAsFavouriteLocation()" [ngClass]="starIconClassList">{{starIconText}}</div>
    </div>
    <div *ngIf="currentWeatherData" class="weather-icon-container">
      <img *ngIf="!displayForecast" class="weather-icon" [src]="forecastIcon">
      <div *ngIf="displayForecast" class="weather-hour-forecast">
        <button (click)="closeThreeDayForecast()" id="close-hour-forecast-button">X</button>
        <div *ngFor="let hour of hourForecast ; index as i;">
          <div *ngIf="hourForecast" class="weather-hour-element">
            <span>{{hourForecast[i].temp_c}}°C</span>
            <img class="hour-weather-icon" [src]="hourForecast[i].condition.icon">
            <span>{{i}}:00</span>
          </div>
        </div>
      </div>
    </div>
    <div class="weather-info-container" *ngIf="currentWeatherData">
      <div *ngIf="selectedDay===0;">
        <h3>{{currentWeatherData.current.condition.text}}</h3>
        <h2>{{currentWeatherData.current.temp_c}}°C</h2>
        <br>
        <h4>{{currentWeatherData.current.pressure_mb}} hPa</h4>
        <div>
          <h4>From {{threeDaysForecastData?.forecast?.forecastday?.[selectedDay]?.day?.mintemp_c}}°C to
            {{threeDaysForecastData?.forecast?.forecastday?.[selectedDay]?.day?.maxtemp_c}}°C</h4>
        </div>
        <h5>Feelslike {{currentWeatherData.current.feelslike_c}}°C</h5>
      </div>
      <div *ngIf="selectedDay===1;">
        <h3>{{selectedDayForecastData?.condition?.text}}</h3>
        <h2>{{selectedDayForecastData?.avgtemp_c}}°C</h2>
        <br>
        <h4></h4>
        <div>
          <h4>From {{threeDaysForecastData?.forecast?.forecastday?.[selectedDay]?.day?.mintemp_c}}°C to
            {{threeDaysForecastData?.forecast?.forecastday?.[selectedDay]?.day?.maxtemp_c}}°C</h4>
        </div>
        <h5></h5>
      </div>
      <div *ngIf="selectedDay===2;">
        <h3>{{selectedDayForecastData?.condition?.text}}</h3>
        <h2>{{selectedDayForecastData?.avgtemp_c}}°C</h2>
        <br>
        <h4></h4>
        <div>
          <h4>From {{threeDaysForecastData?.forecast?.forecastday?.[selectedDay]?.day?.mintemp_c}}°C to
            {{threeDaysForecastData?.forecast?.forecastday?.[selectedDay]?.day?.maxtemp_c}}°C</h4>
        </div>
        <h5></h5>
      </div>
    </div>
  </div>
</div>
<div [ngClass]=errorContainerClassList class="error-container">
  <h4>Cant' find this location</h4>
</div>
<div *ngIf="threeDaysForecastData" class="three-day-forecast-container">
  <div (click)="openDay(0)" class="three-day-forecast">
    <span>{{threeDaysForecastData.forecast?.forecastday?.[0]?.day?.mintemp_c}}°C -
      {{threeDaysForecastData.forecast?.forecastday?.[0]?.day?.maxtemp_c}}°C</span>
    <img [src]="forecastIcons[0]">
    <p>Today</p>
  </div>
  <div (click)="openDay(1)" class="three-day-forecast">
    <span>{{threeDaysForecastData.forecast?.forecastday?.[1]?.day?.mintemp_c}}°C -
      {{threeDaysForecastData.forecast?.forecastday?.[1]?.day?.maxtemp_c}}°C</span>
    <img [src]="forecastIcons[1]">
    <p>{{threeDaysForecastData.forecast?.forecastday?.[1]?.date}}</p>
  </div>
  <div (click)="openDay(2)" class="three-day-forecast">
    <span>{{threeDaysForecastData.forecast?.forecastday?.[2]?.day?.mintemp_c}}°C -
      {{threeDaysForecastData.forecast?.forecastday?.[2]?.day?.maxtemp_c}}°C</span>
    <img [src]="forecastIcons[2]">
    <p>{{threeDaysForecastData.forecast?.forecastday?.[2]?.date}}</p>
  </div>
</div>