.maindiv {
  padding-top: 20px;
  background-color: #fff;
  height: 450px;
  width: 370px;
  border-radius: 15px;
  position: relative;
  transition: height .1s;
}

.closed {
  height: 80px;
}

.favourite-location-container{
  width: 100%;
  position: absolute;
  top: -65px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 10px;
  background: #ffffff0f;
  color: #fcfcfc;
  border-radius: 5px;
}
.favourite-location-container p{
  opacity: .3;
  user-select: none;
  cursor: pointer;
}
.favourite-location-container button{
  opacity: .8;
  height: 22px;
  width: 22px;
  border-radius: 5px;
  border: none;
}
.favourite-location-container button:hover{
  cursor: pointer;
}

.search-container {
  transform: translateX(50px);
  position: absolute;
}

.location-icon {
  pointer-events: none;
  height: 30px;
  width: auto;
  position: absolute;
  transform: translate(-33px, 4px);
}

.weather-hour-forecast{
  padding-left: 1370px;
  padding-right: 50px;
  height: 113px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.weather-hour-element{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 10px 0 10px;
}
.weather-hour-element img{
  height: 50px;
  width: auto;
}

.search-container input {
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-size: 15px;
  height: 35px;
  width: 280px;
  border-radius: 15px;
  border: transparent solid 1.5px;
  background-color: #fff;
  padding: 5px;
  text-align: center;
}

.search-container input:focus::placeholder {
  opacity: .3;
}

.search-container button {
  position: absolute;
  border-radius: 100px;
  border: transparent 1.5px solid;
  padding: 7px 9px 7px 9px;
  background-color: transparent;
  transform: translateX(-34px);
  transition: background-color .2s ease-in-out;
}

.search-container button:hover {
  background-color: #1d28357a;
}

.error-container {
  display: flex;
  justify-content: center;
  position: relative;
  transition: all .4s ease-in-out;
  pointer-events: none;
}

.invisible {
  opacity: 0;
}

.error-container h4 {
  position: absolute;
  padding-top: 20px;
  color: #e91e1eb3;
}

.clock-container {
  position: absolute;
  top: 110px;
  left: 400px;
  color: #fcfcfc;
}

.weather-info {
  margin-top: 50px;
}

.star-icon{
  transition: transform .15s ease-in-out;
  position: absolute;
  font-size: 28px;
  top: 85px;
  left: 390px;
  color: whitesmoke;
  user-select: none;
}
.star-icon.active{
  transform: rotateZ(360deg);
}
.star-icon:hover{
  cursor: pointer;
}

.location-info {
  display: flex;
  justify-content: center;
}

.weather-icon-container {
  overflow-x: auto;
  padding-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-icon {
  user-select: none;
  pointer-events: none;
  height: auto;
  width: auto;
}

.weather-info-container {
  text-align: center;
}

.weather-info-container h4 {
  margin-bottom: 5px;
}

.three-day-forecast-container {
  margin-top: 60px;
  height: 150px;
  width: 370px;
  padding: 0 10px 0 10px;
  background-color: #ffffff0f;
  border-radius: 15px;
  box-shadow: #1b1b1b05 1px 1px 1px 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.three-day-forecast {
  padding-top: 2px;
  user-select: none;
  flex: 0 0 32%;
  height: 80%;
  background-color: #fcfcfc;
  border-radius: 7px;
  text-align: center;
}

.three-day-forecast img {
  margin-top: 5px;
  margin-bottom: 4px;
  pointer-events: none;
  height: 60px;
  width: auto;
}

.three-day-forecast span {
  font-size: 14px;
}

.three-day-forecast p {
  font-size: 15px;
}

@media screen and (max-width: 920px) {
  .maindiv {
    transform: scale(0.9);
    height: 450px;
    width: 360px;
    border-radius: 15px;
  }

  .three-day-forecast-container {
    margin-top: 40px;
    transform: scale(0.9);
  }

  .three-day-forecast {
    transform: scale(0.9);
  }

  .closed {
    height: 80px;
  }

  .search-container {
    transform: translateX(40px);
    position: absolute;
  }

  .clock-container {
    display: none;
  }
  .error-container h4 {
    position: absolute;
    padding-top: 15px;
    color: #e91e1eb3;
  }
}


@media screen and (max-width: 460px) {
  body{
    overflow: hidden;
  }
  .maindiv {
    transform: scale(0.8);
    height: 450px;
    width: 370px;
    border-radius: 15px;
  }
  .star-icon{
    font-size: 26px;
    top: -45px;
    left: 310px;
  }

  .three-day-forecast-container {
    width: 370px;
    margin-top: 40px;
    transform: scale(0.8);
  }

  .three-day-forecast {
    transform: scale(0.8);
  }

  .closed {
    height: 80px;
  }

  .search-container {
    transform: translateX(45px);
    position: absolute;
  }
  .error-container h4 {
    position: absolute;
    padding-top: 15px;
    color: #e91e1eb3;
  }
}