<div class="clock-container">
  <h3>{{formatDate()}}</h3>
</div>
<div [ngClass]=mainDivClassList class="maindiv">
  <div class="search-container">
    <img class="location-icon" src="assets/icons/navigation.png">
    <form (submit)="handleSearch($event)">
      <input (keydown)="closeMainDivEvent($event)" [value]="searchValue" (input)="handleChange($event)"
        placeholder="Enter location">
      <button type="submit">🔎</button>
    </form>
  </div>
  <div class="weather-info">
    <div *ngIf="currentWeatherData" class="location-info">
      <h3>{{currentWeatherData.location.name}}</h3>
      <h3>, {{currentWeatherData.location.country}}</h3>
    </div>
    <div *ngIf="currentWeatherData" class="weather-icon-container">
      <img class="weather-icon" [src]="forecastIcon">
    </div>
    <div class="weather-info-container" *ngIf="currentWeatherData">
      <h3>{{currentWeatherData.current.condition.text}}</h3>
      <h2>{{currentWeatherData.current.temp_c}}°C</h2>
      <br>
      <h4>{{currentWeatherData.current.pressure_mb}} hPa</h4>
      <div>
        <h4>From {{oneDayForecastData?.forecast?.forecastday?.[0]?.day?.mintemp_c}}°C to {{oneDayForecastData?.forecast?.forecastday?.[0]?.day?.maxtemp_c}}°C</h4>
      </div>
      <h5>Feelslike {{currentWeatherData.current.feelslike_c}}°C</h5>
    </div>
  </div>
</div>
<div [ngClass]=errorContainerClassList class="error-container">
  <h4>Cant' find this location</h4>
</div>
<div class="three-day-forecast-container">
  <div class="three-day-forecast">1Day</div>
  <div class="three-day-forecast">2Day</div>
  <div class="three-day-forecast">3Day</div>
</div>

<!-- <a href="https://www.freepik.com/free-vector/coloured-weather-icons-collection_895655.htm#query=weather%20icon&position=0&from_view=keyword&track=ais">Image by titusurya</a> on Freepik -->