<div class="clock-container">
  <h3>{{formatDate()}}</h3>
</div>
<div [ngClass]=mainDivClassList class="maindiv">
  <div class="search-container">
    <img class="location-icon" src="assets/icons/navigation.png">
    <form (submit)="handleSearch($event)">
      <input (keydown)="closeMainDivEvent($event)" [value]="searchValue" (input)="handleChange($event)"
        placeholder="Enter location">
      <button type="submit">🔎</button>
    </form>
  </div>
  <div class="weather-info">
    <div class="location-info">
      <h3>{{forecastData?.location?.name}}</h3>
      <h3>, {{forecastData?.location?.country}}</h3>
    </div>
    <div class="weather-icon-container">
      <img class="weather-icon" [src]="forecastIcon">
    </div>
  </div>
</div>
<div [ngClass]=errorContainerClassList class="error-container">
  <h4>Cant' find this location</h4>
</div>

<!-- <a href="https://www.freepik.com/free-vector/coloured-weather-icons-collection_895655.htm#query=weather%20icon&position=0&from_view=keyword&track=ais">Image by titusurya</a> on Freepik -->