.maindiv {
  padding-top: 20px;
  background-color: #fff;
  height: 450px;
  width: 370px;
  border-radius: 15px;
  position: relative;
}

.closed {
  height: 80px;
}

.search-container {
  transform: translateX(50px);
  position: absolute;
}

.location-icon {
  pointer-events: none;
  height: 30px;
  width: auto;
  position: absolute;
  transform: translate(-33px, 4px);
}

.search-container input {
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-size: 15px;
  height: 35px;
  width: 280px;
  border-radius: 15px;
  border: transparent solid 1.5px;
  background-color: #fff;
  padding: 5px;
  text-align: center;
}

.search-container input:focus::placeholder {
  opacity: .3;
}

.search-container button {
  position: absolute;
  border-radius: 100px;
  border: transparent 1.5px solid;
  padding: 7px 9px 7px 9px;
  background-color: transparent;
  transform: translateX(-34px);
  transition: background-color .2s ease-in-out;
}

.search-container button:hover {
  background-color: #1d28357a;
}

.error-container {
  display: flex;
  justify-content: center;
  position: relative;
  transition: all .4s ease-in-out;
  pointer-events: none;
}

.invisible {
  opacity: 0;
}

.error-container h4 {
  position: absolute;
  padding-top: 20px;
  color: #e91e1eb3;
}

.clock-container {
  position: absolute;
  margin-top: -50px;
  margin-left: -60px;
  color: #fcfcfc;
}

.weather-info {
  margin-top: 50px;
}

.location-info {
  display: flex;
  justify-content: center;
}

.weather-icon-container {
  padding-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-icon {
  user-select: none;
  pointer-events: none;
  height: auto;
  width: auto;
}

.weather-info-container {
  text-align: center;
}

.weather-info-container h4 {
  margin-bottom: 5px;
}

.three-day-forecast-container {
  margin-top: 60px;
  height: 150px;
  width: 370px;
  padding: 0 10px 0 10px;
  background-color: #ffffff0f;
  border-radius: 15px;
  box-shadow: #1b1b1b05 1px 1px 1px 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.three-day-forecast{
  padding-top: 2px;
  user-select: none;
  flex: 0 0 32%;
  height: 80%;
  background-color: #fcfcfc;
  border-radius: 7px;
  text-align: center;
}
.three-day-forecast img{
  margin-top: 5px;
  margin-bottom: 4px;
  pointer-events: none;
  height: 60px;
  width: auto;
}
.three-day-forecast span{
  font-size: 14px;
}
.three-day-forecast p{
  font-size: 15px;
}

@media screen and (max-width: 920px) {

}